* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  font-size: 62.5%;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}
nav h1 {
  font-family: "Dancing Script", cursive;
  color: gold;
  font-size: 5rem;
  flex-shrink: 0;
  flex-basis: 30rem;

  /* flex-grow: 1; */
  /* outline: 2px solid red; */
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: poppins;
  /* flex-basis: 30rem; */
  /* outline: 2px solid green; */
}
nav a:hover {
  color: teal;
}
.hero {
  height: 90vh;
  background-image: url(images/cookie2.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  font-family: inter;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 800;
  flex-direction: column;
}
.hero button {
  padding: 2rem 3rem;
  background-color: teal;
  border: none;
  font-family: inter;
  text-transform: capitalize;
  color: white;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}
.hero button:hover {
  background-color: aqua;
  color: black;
}
section {
  display: flex;
  padding: 5rem;
  flex-wrap: wrap;
  height: auto;
  margin: 5rem auto;
  gap: 10rem;
  align-items: center;
  /* outline: 2px solid red; */
  width: 90%;
  text-align: justify;
  background-color: lightgrey;
  border-radius: 2rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
section div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30rem;
  overflow: hidden;
}
section img {
  width: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 2rem;
}
section img:hover {
  transform: scale(1.3);
}
section p {
  font-size: 1.5rem;
  font-family: inter;
  padding: 1rem;
}
section h3 {
  font-size: 3rem;
  font-family: poppins;
}
section div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: 0.3s ease-in-out; */
}
/* section div:nth-child(2):hover {
    transform: scaleY(1.3);
  } */
footer {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  align-items: center;
}
.container {
  position: relative;
  z-index: 3;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
}
#contactcard {
  width: 40%;
  /* margin: auto;  */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  position: absolute;
  top: 15%;
  background-color: white;
  flex-direction: column;
}
#contactcard a {
  padding: 8%;
  font-size: 3rem;
  font-family: inter;
  text-decoration: none;
  background-color: teal;
  width: 50%;
  text-align: center;
  margin: 2rem 0;
  border-radius: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
#contactcard a:hover {
  background-color: aquamarine;
  color: teal;
}
#contactcard h1 {
  font-size: 5rem;
  font-family: poppins;
  text-transform: uppercase;
}
.hidden {
  display: none !important;
}
#cancel {
  width: 90%;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  /* pointer-events: none; */
  /* outline: 2px solid red; */
  border: none;
  background-color: transparent;
}
#cancel:hover I {
  color: red;
}
@media (max-width: 740px) {
  html {
    font-size: 50%;
  }
  #contactcard h1 {
    font-size: 3rem;
  }
  #contactcard a {
    padding: 5%;
    /* width: 70%; */
  }
  #contactcard {
    top: 10%;
  }
  /* .hidden {
    display: none;
  } */
}
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
  #contactcard {
    width: 100%;
    position: fixed;
    top: 15%;
  }
  #contactcard a {
    padding: 5%;
    /* width: 30%; */
  }
  /* .hidden {
    display: none;
  } */
}
